<% include partials/header %>

<h1>You can reach here only after signing in...</h1>
<a href="/">Home</a>
<% if(currentUser){ %>
	<a href="/signout">SignOut</a>
	<p>Current User : <%= currentUser.username %> | <%= currentUser._id %></p>
<% } %>

<% include partials/footer %>